form {
  /* width: 25%; */
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 8px;
  margin-bottom: 16px;
}

/* .content-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

#avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}