.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-card {
  /* width: 25%; */
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: 1px solid;
  box-shadow: 4px 4px 0px rgba(186, 182, 182, 0.7), 0px 9px 30px rgba(186, 182, 182, 0.7);
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 400px;

}

.content-input {
  margin-top: 8px;
  margin-bottom: 16px;
}

/* .content-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

#avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}