body {
  background: beige;
}

h1 {
  align-items: center;
  justify-content: center;
}


.location-card {
  border: 1px solid;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-right: 8px;
}

#avatar {
  border-radius: 100%;
}

.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
}