body {
  background-image: url(https://images.unsplash.com/photo-1617177435644-09116c956d02?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  width: 100%;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-style: italic;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.location-card {
  display: flex;
  background-color: whitesmoke;
  border: 1px solid;
  box-shadow: 4px 4px 0px rgba(186, 182, 182, 0.7), 0px 9px 30px rgba(186, 182, 182, 0.7);
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 450px;
  }


img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-right: 8px;
}

#avatar {
  border-radius: 100%;
}

#comment-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-button {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 4px;
  margin-top: 10px;
  background-color: rgb(224,211,202);
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  gap: 10px;
  margin-bottom: 5px;
}

.edit-btn {
  border-radius: 4px;
  background-color: rgb(224,211,202);
  padding: 2px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.delete-btn {
  border-radius: 4px;
  background-color: rgb(224,211,202);
  padding: 2px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.edit-comment-btn {
  border-radius: 4px;
  background-color: rgb(224,211,202);
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.delete-comment-btn {
  border-radius: 4px;
  background-color: rgb(224,211,202);
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}