body {
  background-image: url(https://images.unsplash.com/photo-1504542982118-59308b40fe0c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  color: black;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  align-items: center;
  justify-content: center;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.location-card {
  display: flex;
  border: 1px solid;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
  }

img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-right: 8px;
}

#avatar {
  border-radius: 100%;
}

.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
}